{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row align-items-center" style="padding-top: 2%;">
            <div class="col text-center">
                <h1 class="text-white" style="padding-left: 5%;">Salidas</h1>
            </div>
            <div class="col-auto">
                <a href="{% url 'Inicio' %}" class="btn btn-primary mt-3" style="width: 50px;"><i class="fas fa-arrow-left"></i></a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center">
                                    <img src="{{amigo.foto}}" alt="imgPerfil" class="img-fluid mx-auto d-block">
                                    <p><a href="">Ver perfil</a></p>
                                </div>
                            </div>
                            <div class="col-md-">
                                <p><strong>Cliente:</strong> {{ amigo.nombre }}</p>
                                <p><strong>Fecha y hora:</strong> {{ amigo.fecha }} {{ amigo.hora }}</p>
                                <p><strong>Costo:</strong> {{ amigo.costo }} BOB</p>
                                <p><strong>Descripción:</strong> {{ amigo.descripcion }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary" onclick="">Rechazar</button>
                                <button class="btn btn-primary">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}



{% block extrajs %}
    <script type="text/javascript">
        
    </script>
{% endblock extrajs %}