<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    
</body>
</html>

<html>

<head>

    {% load static %}<!-- Carga de archivos estáticos -->

    <!-- Bootstrap -->
    <link href="{% static 'inicio/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fonts -->
    
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


    <!-- Styles -->
    <link href="{% static 'inicio/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

<!-- Navbar -->

{% block content %}
<!--Contenido cambiante-->
{% endblock %}

    <!-- Footer -->

    <!-- Bootstrap -->
    <script src="{% static 'proyectoWebApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'proyectoWebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>