<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    {% load static %}<!-- Carga de archivos estáticos -->

    <!-- Bootstrap -->
    <link href="{% static 'inicio/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fonts -->
    
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


    <!-- Styles -->
    <link href="{% static 'inicio/css/gestion.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light "style="background-color: #e3f2fd;"> <!-- Creacion de menu de navegacion -->
        <a class="navbar-brand" href="#">FriendlyHire</a>  <!-- Creacion de logotipo -->
        <!-- Botón de alternancia para dispositivos pequeños -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenido colapsable de la barra de navegación -->
        <div class="collapse navbar-collapse" id="navbarText">
            <!-- Lista de elementos de la barra de navegación -->
            <ul class="navbar-nav mr-auto">
                <!-- Elemento de menú Home -->
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>    
                <!-- Elemento de menú Alquilar amigo -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Registrarse como amigo</a>
                </li>
            </ul>
            <span class="navbar-text">
                <button type="button" class="btn btn-outline-primary">
                    <img src="avatar.jpg" alt="Avatar" class="rounded-circle" style="width: 32px; height: 32px;">
                </button>
            </span>
        </div>
    </nav> 

{% block content %}
<!--Contenido cambiante-->
{% endblock %}

    <!-- Footer -->

    <!-- Bootstrap -->
    <script src="{% static 'inicio/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'inicio/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
