<!-- lista de elementos de la barra de busqueda --> 
              
<ul class="navbar-nav ml-auto">
                    
    <!-- elemento dropdown -->                  
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Zona
      </a>
      <!--contenido del dropdown-->
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <a class="dropdown-item" href="#">Tarija</a>
        <a class="dropdown-item" href="#">Cochabamba</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Santa Cruz</a>

      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Género
      </a>
      <!--contenido del dropdown-->
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <a class="dropdown-item" href="#">Masculíno</a>
        <a class="dropdown-item" href="#">Femeníno</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">otro</a>

      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categoria
      </a>
      <!--contenido del dropdown-->
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <a class="dropdown-item" href="#">Cosplay</a>
        <a class="dropdown-item" href="#">Deporte</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Cocina</a>

      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Edad
      </a>
      <!--contenido del dropdown-->
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <a class="dropdown-item" href="#">18-20</a>
        <a class="dropdown-item" href="#">20-25</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">25-30</a>

      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>

  </ul>