<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

        <footer style="background-color: #2F4858; color: #f0f0f0;" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Enlaces útiles</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Acerca de</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Síguenos en</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Contacto</h5>
                        <address>
                            <strong>FriendlyHire</strong><br>
                            Sercado<br>
                            CBBA, Bolivia<br>
                            <abbr title="Teléfono">Tel:</abbr> (123) 456-7890
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="mb-0">&copy; 2024 FriendlyHire. Todos los derechos reservados. Diseñado por <a href="#" class="text-light">ASTRO Devs</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
    
    </body>
</html>
