{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top: 80px;">
    <h2 style="text-align: center;">LISTA DE AMIGOS</h2>
    <div class="card-columns">
        
        {%for amigo in amigos %}
        <div class="card">
            <img class="card-img-top" src="{{amigo.foto}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{amigo.correo}}</h5>
                <p class="card-text">{{amigo.nombre}} {{amigo.apellido}}</p>
                <p class="card-text"><small class="text-muted">{{amigo.pais}}</small></p>
                    <div class="text-center">
                    <a href="../perfil/amigo/{{amigo.id}}" class="btn btn-primary">Ver perfil</a>
                    </div>
            </div>
        </div>

        {%endfor%}
    </div>

</div>


{% endblock %}

