{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}
<div id="carrusel" class="carousel carousel-fade">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carrusel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carrusel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carrusel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="'https://media.istockphoto.com/id/870923214/es/foto/j%C3%B3venes-sentados-en-el-c%C3%A9sped-en-primer-plano-del-parque.jpg?s=2048x2048&w=is&k=20&c=EOGTOZ6ErOx2pnW-sMXcMw7r3LDFQAigcwA6uFwa-e8=" class="d-block w-100 c-img" alt="slide1">
        <div class="carousel-caption top-1 mt-4 d-none d-md-block">
          <h5 class="display-1 fw-bolder text-capitalize">Amigo Casual</h5>
          <p class="mt-5 fs-4 text-uppercase">"¡Disfruta de un día soleado en la plaza con tus amigos! Sumérgete en la alegría y la camaradería mientras paseas entre árboles frondosos y charlas animadas. Alquila un amigo para compartir risas, historias y momentos inolvidables bajo el cálido sol."</p>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://media.istockphoto.com/id/870923226/es/foto/j%C3%B3venes-sentados-en-el-c%C3%A9sped-en-primer-plano-del-parque.jpg?s=2048x2048&w=is&k=20&c=FRrDgGTMYzWe6VhfHtQb668USoBomtZAxZHtOCIThrc=" class="d-block w-100 c-img" class="d-block w-100 c-img" alt="slide2">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="display-1 fw-bolder text-capitalize">Amigo para deporte</h5>
          <p class="mt-5 fs-4 text-uppercase">"Encuentra a tu compañero ideal para el deporte. Comparte tu pasión por el ejercicio y la actividad física con un amigo que te motive y te acompañe en cada entrenamiento. Alquila un amigo que comparta tu entusiasmo por el deporte y juntos alcancen sus metas fitness."</p>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="https://media.istockphoto.com/id/125144778/es/foto/j%C3%B3venes-estudiantes-universitarios-relajante-al-aire-libre.jpg?s=2048x2048&w=is&k=20&c=6Aki5LFAnmyKuRwuVRCCL7XDgJpJfWGK1OfNStfyauM=" class="d-block w-100 c-img" alt="slide3">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="display-1 fw-bolder text-capitalize">Amigo de estúdio</h5>
          <p class="mt-5 fs-4 text-uppercase">"¡Prepárate para una sesión de estudio productiva y colaborativa con tus amigos! Sumérgete en un ambiente de concentración y camaradería, donde juntos buscan el éxito académico. Alquila un amigo para compartir conocimientos, resolver dudas y motivarte mutuamente en esta emocionante aventura de aprendizaje."</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carrusel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carrusel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <!-- incluimos el buscador -->
{% include 'inicio/searchBar.html' %}
<div class="container" id="categoriasContainer">
    <div id="categoriasSeleccionadas" class="d-flex flex-wrap">

    </div>
</div>

<!-- seccion tarjetas perfil -->
<div class="container-fluid" id="fondoTarjetas">
    <div class="container" id="contenTarjetas">
        <!-- cargado de perfiles -->
        <div class="row row-cols-1 row-cols-md-3 g-4" id="tarjetasAmigos">

        </div>
    </div>

    <!--mensaje no se encontraron amigos-->
    <div id="mensajeVacio" class="text-center mt-3" style="display: none;">

    </div>
</div>

    <!--paginacion-->
    <nav aria-label="Page navegation" class="mt-2 d-flex justify-content-center">
        <ul class="pagination justify-content-center pagination-lg " id="paginacion">

        </ul>
    </nav>    <!-- script para busqueda en tiempo real -->

<script>

        // Lista de URLs de las imágenes a pre cargar
        const urls = [
            'https://media.istockphoto.com/id/870923214/es/foto/j%C3%B3venes-sentados-en-el-c%C3%A9sped-en-primer-plano-del-parque.jpg?s=2048x2048&w=is&k=20&c=EOGTOZ6ErOx2pnW-sMXcMw7r3LDFQAigcwA6uFwa-e8=',
            'https://media.istockphoto.com/id/870923226/es/foto/j%C3%B3venes-sentados-en-el-c%C3%A9sped-en-primer-plano-del-parque.jpg?s=2048x2048&w=is&k=20&c=FRrDgGTMYzWe6VhfHtQb668USoBomtZAxZHtOCIThrc=',
            'https://media.istockphoto.com/id/125144778/es/foto/j%C3%B3venes-estudiantes-universitarios-relajante-al-aire-libre.jpg?s=2048x2048&w=is&k=20&c=6Aki5LFAnmyKuRwuVRCCL7XDgJpJfWGK1OfNStfyauM=',
        ];

        // Función para pre cargar las imágenes
        function preloadImages(urls) {
            urls.forEach(url => {
                const img = new Image();
                img.src = url;
            });
        }

        preloadImages(urls);
            // Asignar las imágenes precargadas al carousel
        const carouselItems = document.querySelectorAll('.carousel-item');
        carouselItems.forEach((item, index) => {
            item.querySelector('img').src = urls[index];
        });

        const tarjetasAmigos = document.querySelector('#tarjetasAmigos');
        const mensajeVacio = document.querySelector('#mensajeVacio');

        function mostrarAmigos(data) {
            tarjetasAmigos.innerHTML = '';

            if (data.amigos.length === 0) {
                mensajeVacio.style.display = 'block';
                mensajeVacio.innerHTML = `<i class="fas fa-frown text-light" style="font-size: 5em"></i>
                                          <h5 class="display-1 fw-bolder text-capitalize text-light">Lo sentimos, no se encontraron resultados</h5>`;
                document.querySelector('#paginacion').style.display = 'none'; // Ocultar la paginación
            } else {
                mensajeVacio.style.display = 'none'; // Ocultar el mensaje de vacío
                document.querySelector('#paginacion').style.display = 'flex'; // Ocultar la paginación
                data.amigos.forEach(amigo => {
                    const card = document.createElement('div');
                    card.classList.add('col');
                    card.innerHTML = `
                    <div class="card">
                        <img class="card-img-top" src="${amigo.foto}" alt="No perfil">
                        <div class="card-body d-flex flex-column">
                            <div class="d-flex justify-content-between">
                                <p class="card-text" style="cursor: default;"><b>${amigo.nombre} ${amigo.apellido}</b></p>
                                <p class="card-text" style="cursor: default;"><b>${amigo.edad} años</b></p>
                            </div>
                            <div class="d-flex justify-content-between">
                            <h5 class="card-title">${amigo.tarifa} Bs/h</h5>
                            <p class="card-text disponibilidad">Disponible: ${amigo.disponibilidad}</p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href="../perfil/amigo/${amigo.id}" class="btn btn-primary" style="margin: auto;">Ver perfil</a>
                            </div>
                        </div>
                    </div>
                `;
                    tarjetasAmigos.appendChild(card);
                }); 

                // Actualizar paginación
                const paginacion = document.querySelector('#paginacion');
                paginacion.innerHTML = '';

                if (data.has_previous) {
                    const liPrevious = document.createElement('li');
                    liPrevious.classList.add('page-item');
                    const pagAnt = data.page_number - 1;
                    liPrevious.innerHTML = `<a class="page-link" href="?page=${pagAnt}" aria-label="Previous"><span aria-hidden="true"><i class="fas fa-chevron-left" href="?page=${pagAnt}"></span></a>`;
                    paginacion.appendChild(liPrevious);
                }

                let inicio = Math.max(1, data.page_number - 3);
                let fin = Math.min(data.num_pages, inicio + 3);

                if (inicio > 1) {
                    const liInicio = document.createElement('li');
                    liInicio.classList.add('page-item');
                    liInicio.innerHTML = `<a class="page-link" href="?page=1">1</a>`;
                    paginacion.appendChild(liInicio);
                }

                if (inicio > 2) {
                    const liPuntosInicio = document.createElement('li');
                    liPuntosInicio.classList.add('page-item');
                    liPuntosInicio.innerHTML = `<span class="page-link"><strong>...</strong></span>`;
                    paginacion.appendChild(liPuntosInicio);
                }

                for (let num = inicio; num <= fin; num++) {
                    const li = document.createElement('li');
                    if (num === data.page_number) {
                        li.classList.add('page-item', 'active');
                        li.innerHTML = `<span class="page-link">${num}</span>`;
                    } else {
                        li.classList.add('page-item');
                        li.innerHTML = `<a class="page-link" href="?page=${num}">${num}</a>`;
                    }
                    paginacion.appendChild(li);
                }

                if (fin < data.num_pages - 1) {
                    const liPuntosFin = document.createElement('li');
                    liPuntosFin.classList.add('page-item');
                    liPuntosFin.innerHTML = `<span class="page-link"><strong>...</strong></span>`;
                    paginacion.appendChild(liPuntosFin);
                }

                if (fin < data.num_pages) {
                    const liFin = document.createElement('li');
                    liFin.classList.add('page-item');
                    liFin.innerHTML = `<a class="page-link" href="?page=${data.num_pages}">${data.num_pages}</a>`;
                    paginacion.appendChild(liFin);
                }

                if (data.has_next) {
                    const liNext = document.createElement('li');
                    liNext.classList.add('page-item', 'text-white');
                    const pagSig = data.page_number + 1;
                    liNext.innerHTML = `<a class="page-link" href="?page=${pagSig}" aria-label="Next"><span aria-hidden="true"><i class="fas fa-chevron-right" href="?page=${pagSig}"></span></a>`;
                    paginacion.appendChild(liNext);
                }
            }
        }
        //mostrar amigos al cargar la pagina por primera vez
        document.addEventListener('DOMContentLoaded', function() {
        fetch("{% url 'Buscar' %}")
            .then(response => response.json())
            .then(data => mostrarAmigos(data));
        });
        
        // Buscar amigos al cambiar el valor del input
        const input = document.querySelector('#inputBuscador');
        input.addEventListener('keyup', function() {
            const nombre = input.value;
            const categoriasSeleccionadas = document.querySelectorAll('.categoria-seleccionada');
            const interesesSeleccionados = document.querySelectorAll('.interes-seleccionado');
            const categorias = Array.from(categoriasSeleccionadas).map(item => item.dataset.categoriaId).join(',');
            const intereses = Array.from(interesesSeleccionados).map(item => item.dataset.interesId).join(',');
            fetch(`{% url 'Buscar' %}?nombre=${nombre}&categorias=${categorias}&intereses=${intereses}`)
                .then(response => response.json())
                .then(data => mostrarAmigos(data));
        });

        // agregar evento a las paginas para que muestren alos amigos correspondientes a dicha pagina al hacer click
        const paginacion = document.querySelector('#paginacion');
        paginacion.addEventListener('click', function(event) {
            if (event.target.tagName === 'A' || event.target.tagName === 'I') {
                event.preventDefault();
                const page = event.target.getAttribute('href').split('=')[1];
                const nombre = document.querySelector('#inputBuscador').value;
                fetch(`{% url 'Buscar' %}?nombre=${nombre}&page=${page}`)
                    .then(response => response.json())
                    .then(data => mostrarAmigos(data));
            }
        });

        // Script para marcar/desmarcar categorías al hacer clic
        document.addEventListener("DOMContentLoaded", function () {
            const categorias = document.querySelectorAll('.dropdown-item.categoria');
            categorias.forEach(function (categoria) {
                categoria.addEventListener('click', function (event) {
                    event.preventDefault();
                    categoria.classList.toggle('seleccionada');
                    actualizarFiltrosYBuscar();
                });
            });

        // Acción para "Todas"
        document.querySelector('.dropdown-item.todas').addEventListener('click', function (event) {
                event.preventDefault();
                categorias.forEach(function (categoria) {
                    categoria.classList.remove('seleccionada');
                });
            });
        });
        
        //buscar por categorias e intereses
        const formBusqueda = document.querySelector('#formBusqueda');
        formBusqueda.addEventListener('submit', function(event) {
            event.preventDefault();
            const nombre = document.querySelector('#inputBuscador').value;
            const categoriasSeleccionadas = document.querySelectorAll('.dropdown-item.categoria.seleccionada');
            const categorias = Array.from(categoriasSeleccionadas).map(item => item.dataset.categoriaId).join(',');
            const interesesSeleccionados = document.querySelectorAll('.dropdown-item.interes.seleccionado');
            const intereses = Array.from(interesesSeleccionados).map(item => item.dataset.interesId).join(',');
            fetch(`{% url 'Buscar' %}?nombre=${nombre}&categorias=${categorias}&intereses=${intereses}`)
                .then(response => response.json())
                .then(data => mostrarAmigos(data));
        });

        const colores = ['success', 'danger', 'warning', 'info', 'light', 'dark'];
        let colorIndex = 0;

        document.querySelectorAll('.categoria').forEach(item => {
            item.addEventListener('click', event => {
                event.preventDefault();
                const categoriaId = item.dataset.categoriaId;
                const categoriaNombre = item.textContent;
                const botonCategoria = document.createElement('button');
                const color = colores[colorIndex % colores.length];
                colorIndex++;
                botonCategoria.classList.add('btn', `btn-${color}`, 'btn-sm', 'categoria-seleccionada');
                botonCategoria.dataset.categoriaId = categoriaId;
                botonCategoria.innerHTML = `${categoriaNombre} <span class="eliminar">&times;</span>`;
                document.getElementById('categoriasSeleccionadas').appendChild(botonCategoria);
                item.classList.add('d-none');
            });
        });

        document.getElementById('categoriasSeleccionadas').addEventListener('click', event => {
            if (event.target.classList.contains('eliminar')) {
                const categoriaId = event.target.parentNode.dataset.categoriaId;
                const categoriaDropdown = document.querySelector(`.categoria[data-categoria-id="${categoriaId}"]`);
                categoriaDropdown.classList.remove('d-none');
                event.target.parentNode.remove();

                // Desmarcar la categoría en el dropdown
                categoriaDropdown.classList.remove('seleccionada');

                // Actualizar los filtros y enviar la solicitud de búsqueda
                actualizarFiltrosYBuscar();
            }
        })

        // Script para marcar/desmarcar intereses al hacer clic
        document.addEventListener("DOMContentLoaded", function () {
            const intereses = document.querySelectorAll('.dropdown-item.interes');
            intereses.forEach(function (interes) {
                interes.addEventListener('click', function (event) {
                    event.preventDefault();
                    interes.classList.toggle('seleccionado');
                    actualizarFiltrosYBuscar();
                });
            });

            // Acción para "Todos"
            document.querySelector('.dropdown-item.todos-intereses').addEventListener('click', function (event) {
                event.preventDefault();
                intereses.forEach(function (interes) {
                    interes.classList.remove('seleccionado');
                });
            });
        });

        document.querySelectorAll('.interes').forEach(item => {
            item.addEventListener('click', event => {
                event.preventDefault();
                const interesId = item.dataset.interesId;
                const interesNombre = item.textContent;
                const botonInteres = document.createElement('button');
                const color = colores[colorIndex % colores.length];
                colorIndex++;
                botonInteres.classList.add('btn', `btn-${color}`, 'btn-sm', 'interes-seleccionado');
                botonInteres.dataset.interesId = interesId;
                botonInteres.innerHTML = `${interesNombre} <span class="eliminar">&times;</span>`;
                document.getElementById('categoriasSeleccionadas').appendChild(botonInteres);
                item.classList.add('d-none');
            });
        });

        document.getElementById('categoriasSeleccionadas').addEventListener('click', event => {
            if (event.target.classList.contains('eliminar')) {
                const interesId = event.target.parentNode.dataset.interesId;
                const interesBoton = event.target.parentNode;
                const interesDropdown = document.querySelector(`.interes[data-interes-id="${interesId}"]`);
                interesDropdown.classList.remove('d-none');
                interesBoton.remove();

                // Desmarcar el interés en el dropdown
                interesDropdown.classList.remove('seleccionado');

                // Actualizar los filtros y enviar la solicitud de búsqueda
                actualizarFiltrosYBuscar();
            }
        });

        function actualizarFiltrosYBuscar() {
            const nombre = document.querySelector('#inputBuscador').value;
            const categoriasSeleccionadas = document.querySelectorAll('.categoria-seleccionada');
            const categorias = Array.from(categoriasSeleccionadas).map(item => item.dataset.categoriaId).join(',');
            const interesesSeleccionados = document.querySelectorAll('.interes-seleccionado');
            const intereses = Array.from(interesesSeleccionados).map(item => item.dataset.interesId).join(',');

            fetch(`{% url 'Buscar' %}?nombre=${nombre}&categorias=${categorias}&intereses=${intereses}`)
                .then(response => response.json())
                .then(data => mostrarAmigos(data));
        }

</script>


{% endblock %}