<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg " style="background-color: #2F4858;"> <!-- Creacion de menu de navegacion -->

            <div class="container-fluid mr-auto">
                <a href="" class="navbar-brand color1 fw-semibold fs-2">FriendlyHire</a>
                <!-- boton de navegacion  -->
                <button
                  class="navbar-toggler text-success"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#menuLateral"
                  aria-controls="menuLateral"
                >
                <span class="navbar-toggler-icon"></span>
                </button>

                <!-- offcanvas contenedor del contenido del sidebar -->
                <section
                  class="offcanvas offcanvas-start offcanvas-collapse"
                  id="menuLateral"
                  tabindex="-1"
                >
                  <div class="offcanvas-header" data-bs-theme="dark">
                    <h5 class="offcanvas-title color1 fs-2">FriendlyHire</h5>
                    <!-- boton de navegacion  -->
                    <button
                      class="navbar-toggler text-success ml-auto"
                      type="button"
                      data-bs-toggle="offcanvas"
                      data-bs-target="#menuLateral"
                      aria-controls="menuLateral"
                    >
                    <span class="navbar-toggler-icon"></span>
                    </button>
                  </div>

                  <!-- cuerpo de offcanvas-->
                  <div
                    class="offcanvas-body d-flex flex-column mr-auto"
                  >
                    <ul class="navbar-nav fs-5 mr-auto">

                        <!-- elementos del sidebar -->
                        <li class="nav-item py-md-2">
                          <a href="" class="nav-link"><i class="fi fi-sr-home me-2"></i> Home</a>
                        </li>
                        <li class="nav-item py-md-2">
                          <a href="" class="nav-link"><i class="fi fi-sr-user me-2"></i> Iniciar Sesión</a>
                        </li>
                        <li class="nav-item py-md-2">
                          <a href="" class="nav-link"><i class="fi fi-sr-clipboard-user me-2"></i> Registrarse</a>
                        </li>
                        <li class="nav-item py-md-2">
                          <a href="Home/Registrar amigo/Registrar Datos Personales del Amigo/reg.html" class="nav-link "><i class="fi fi-sr-users-alt me-2 color1"></i> Registrarse como amigo</a>
                        </li>
                        <li class="nav-item py-md-2">
                          <a href="" class="nav-link disabled"><i class="fi fi-sr-settings me-2 disabled"></i> Configuraciones</a>
                        </li>
                        <li class="nav-item py-md-2">
                          <a href="" class="nav-link disabled"><i class="fi fi-sr-info me-2 disabled"></i> Acerca de</a>
                        </li>
                        <li class="nav-item py-md-2">
                          <a href="" class="nav-link disabled"><i class="fi fi-sr-customer-service me-2 disabled"></i> Contácto</a>
                        </li>
                        <li class="nav-item py-md-2">
                          <a href="" class="nav-link disabled"><i class="fi fi-sr-interrogation me-2 disabled"></i> Ayuda</a>
                        </li>

                    </ul>
                  </div>
                        <!-- enlaces redes sociales -->
                        <div class="d-lg-none align-self-center py-4">
                          <a href=""><i class="fi fi-sr-apps me-2 color1" style="font-size: 2em;"></i></a>
                        </div>
                </section>
                <!-- fin de canvas  -->

            </div>

        </nav>        

    </body>
</html>
