<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

        <div class="container" style="margin-top: 80px;">

            <div class="card-columns">
                {%for _ in "123456789" %}

                  <div class="card">
                    <img class="card-img-top" src="https://oechsle.vteximg.com.br/arquivos/ids/11724335/imageUrl_2.jpg?v=638006193434100000" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Minino Tercero vigesimosegundo</h5>
                      <p class="card-text">Gatito bonito, gordito y dormilon</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <div class="text-center">
                            <a href="Home/Visualizar perfil de amigo/perfil.html" class="btn btn-primary">Ver perfil</a>
                            </div>
                    </div>
                  </div>

                {%endfor%}
            </div>

        </div>
    
    </body>
</html>
