{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}
    <div style="margin: 10px 100px;">
        <div style="text-align: center;margin: 10px;padding: 20px; pointer-events: none;"><h2><b>REGISTRAR AMIGO</b></h2></div>
            </div>
        
        <form class="form-grup">
            <div class="container">
                <h1>Datos Personales</h1>
                <div class="row">
                    
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
    
                        <div style=" margin: 5px 0px;">
                            <div style="width: 100px;"><label for="nombre">Nombre <span style="color: red">*</span>: </label></div>
                            <input type="nombre" id="nombre" required style="width: 80%;"><br>
                        </div>
                        <div style="margin: 5px 0px;">
                            <div style="width: 100px;"><label for="telefono">Teléfono:</label></div>
                            <input type="tel" id="telefono" required style="width: 80%;"><br>
                        </div>
                        

                    </div>
    
    
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8" >
                        <div style="margin: 5px 0px;">
                            <div style="width: 200px;"><label for="apellido">Apellido <span style="color: red">*</span>:</label></div>
                            <div style="width: 75%;"><input type="text" id="apellido" required style="width: 107%;"></div>
                        </div>

                        <div style="margin: 5px 0px;">
                            <div style="width: 200px;"><label for="fechaNacimiento">Fecha de Nacimiento <span style="color: red">*</span>:</label></div> 
                            <div><input type="date" id="fechaNacimiento" required style="width: 30%;"></div>
                        </div>

                    </div>

                    <div style="padding: 10px 15px;">
                        <div style="margin: 20px 0px;">
                            <div style="display: flex;">
                                <div style="width: 200px;margin: 0px 0px;margin-right: 90px;" ><label for="pais">País <span style="color: red">*</span>:</label></div>
                                <div style="width: 200px;margin: 0px 90px;"><label for="ciudad">Ciudad <span style="color: red">*</span>:</label></div> 
                                <div style="width: 200px;margin: 0px 100px;"><label for="localidad">Localidad <span style="color: red">*</span>:</label></div> 
                            
                            </div>
                            <div style="display: flex;">
                                <div style="width: 200px; margin: 0px 0px;margin-right: 80px"><input type="text" id="pais" required style="width: 140%;"><br></div>
                                <div style="width: 200px; margin: 0px 100px;"><input type="text" id="ciudad" required style="width: 150%;"></div>
                                <div style="width: 200px; margin: 0px 100px;"><input type="text" id="localidad" required></div>
                            </div>    
                        </div> 
                        <div style="width: 200px;"><label for="email">Email <span style="color: red">*</span>:</label></div>
                        <input type="email" id="email" required style="width: 50%;"><br>
    
                        <div style="width: 200px;"><label for="tarifa">Tarifa por Hora <span style="color: red">*</span>:</label></div>
                        <div style="width: 50%;"><h2>{{ formRegistro.tarifa }}</h2></div>
    
                        <div style="width: 200px;"><label for="descripcion">Describete:</label></div>
                        <textarea id="descripcion" required style="width: 90%;"></textarea><br>
    
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              He leido y acepto el aviso legal y la Politica de privacidad<span style="color: red">*</span>.</label>
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              Acepto los terminos y condiciones<span style="color: red">*</span>.</label>
                            </label>
                        </div>
                        
                          
                      
                    </div>
                
        
                </div>

            </div>
        </form>
            <div style="margin: 10px 100px;">        
        <div style="text-align: center;margin: 100px 0px;">
            <button type="button" class="btn btn-secondary" style="margin: 0px 100px;">Cancelar</button>
            <button type="button" class="btn btn-primary" style="margin: 0px 100px;">Continuar</button>
        </div>

        </div>
    
{% endblock %}