{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}
    <div style="margin: 10px 100px;">
        <div style="text-align: center;margin: 10px;padding: 20px; pointer-events: none;"><h2><b>REGISTRAR AMIGO</b></h2></div>
            </div>
        
        <form class="form-grup">
            <div class="container">
                <h2>Datos Personales</h2>
                <div class="row">
                    
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
    
                        <div style=" margin: 5px 0px;">
                            <div style="width: 100px;"><h4>{{form.nombre.label}}: <span style="color: red">*</span> </h4></div>
                            <div style="width: 80%;">{{form.nombre}}</div>
                        </div>
                        <div style="margin: 5px 0px;">
                            <div style="width: 100px;"><h4>{{form.telefono.label}}:</h4></div>
                            <div style="width: 80%;">{{form.telefono}}</div>
                        </div>
                        

                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8" >
                        <div style="margin: 5px 0px;">
                            <div style="width: 200px;"><h4>{{form.apellido.label}}: <span style="color: red">*</span></h4></div>
                            <div style="width: 80%;">{{form.apellido}}</div>
                        </div>

                        <div style="margin: 5px 0px;">
                            <div style="width: 200px;"><h4>{{form.fecha.label}}: <span style="color: red">*</span></h4></div> 
                            <div style="width: 27%;">{{form.fecha}}</div>
                        </div>

                    </div>

                    <div style="padding: 10px 15px;">
                        <div style="margin: 20px 0px;">
                            <div style="display: flex;">
                                <div style="width: 200px;margin: 0px 0px;margin-right: 90px;" ><h4>{{form.pais.label}}: <span style="color: red">*</span></h4></div>
                                <div style="width: 200px;margin: 0px 90px;"><h4>{{form.ciudad.label}}: <span style="color: red">*</span></h4></div> 
                                <div style="width: 200px;margin: 0px 100px;"><h4>{{form.localidad.label}}: <span style="color: red">*</span></h4></div> 
                            
                            </div>
                            <div style="display: flex;">
                                <div style="width: 43%;margin: 0px 0px;margin-right: 0px">{{form.pais}}</div>
                                <div style="width: 30%;margin: 0px 100px;">{{form.ciudad}}</div>
                                <div style="width: 30%;margin: 0px 100px;">{{form.localidad}}</div>
                                
                            </div>    
                        </div> 
                        <div style="width: 200px;"><h4>{{form.email.label}}: <span style="color: red">*</span></h4></div>
                        <div style="width: 50%;">{{form.email}}</div>
    
                        <div style="width: 200px;"><h4>{{form.tarifa.label}}: <span style="color: red">*</span></h4></div>
                        <div style="width: 50%;"><h2>{{ form.tarifa }}</h2></div>
    
                        <div style="width: 200px;"><h4>{{form.descripcion.label}}: <span style="color: red">*</span></h4></div>
                        <div style="width: 90%;"><h2>{{ form.descripcion }}</h2></div>
    
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <h4 class="form-check-h4" for="gridCheck">
                                He leido y acepto el aviso legal y la Politica de privacidad. <span style="color: red">*</span></h4>
                            </h4>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <h4 class="form-check-h4" for="gridCheck">
                                Acepto los terminos y condiciones. <span style="color: red">*</span></h4>
                            </h4>
                        </div>             
                    </div>
                </div>
            </div>
        </form>
            <div style="margin: 10px 100px;">        
        <div style="text-align: center;margin: 100px 0px;">
            <button type="button" class="btn btn-secondary" style="margin: 0px 100px;">Cancelar</button>
            <button type="button" class="btn btn-primary" style="margin: 0px 100px;">Continuar</button>
        </div>

        </div>
    
{% endblock %}