<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title  text-center w-100">Confirmar Salida</h2>
            
        </div>
        <div class="modal-body text-center">
            <h4 >¿Esta seguro de guardar su salida?</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
            <button class="btn btn-primary" type="submit" onclick="window.location.href='/'">Si</button>
        </div>
    </div>

</div>