{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}

    <div style="margin: 1% ">
    <div class="container" id="formulario-container">
        <div style="text-align: center;margin: 1%;padding: 2%; pointer-events: none;"><h2><b>Programar Salida</b></h2></div>
        <form class="form-group" method='POST' style="width: 100%; margin: auto">
            {% csrf_token %}
            <div>
                <h3>Horarios disponibles:</h3>
                {% if horas %}
                <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    {% for horario in horas %}
                        <div style="display: flex;">
                            <div class="mostrarHorario {% cycle 'a' 'b' 'c' %}">
                                Desde {{ horario.horaInicio }} Hasta {{ horario.horaFin }}
                            </div>
                            <input type="checkbox" name="horario_seleccionado" value="{{ horario.id }}">
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div style="text-align: center;color: red;opacity: 0.5;">
                    <h3>No hay horarios disponibles</h3>
                    </div>
                {% endif %}
            </div>
            
            
        
            <div style="text-align: center;margin: 10% 0px;">
                <button type="button" class="btn btn-secondary" onclick="abrir_modal_cancelacion()">Cancelar</button>
                <!--<button type="submit" class="btn btn-primary" onclick="abrir_modal_confirmacion('{{ datos|escapejs }}')">Programar</button>-->
                <button type="submit" class="btn btn-primary">Programar</button>
            </div>
        </form>

    </div>
    </div>

<div class="modal fade" id="cancelar-programar-cita" role="dialog">
</div>


{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal_cancelacion(){
            $('#cancelar-programar-cita').load("{% url 'cancelar_programar_cita' %}", function(){
                $(this).modal('show');
            });
        }
        
    </script>
{% endblock extrajs %}