{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}
    <div style="margin: 10px 100px;">
        <div style="text-align: center;margin: 10px;padding: 20px; pointer-events: none;"><H1><b>Programar Salida</b></H1></div>
        <div style="text-align: center;margin: 10px 50px;">
            <button type="button" class="btn btn-primary" style="float: left;">Programar</button>
            <button type="button" class="btn btn-secondary" style="float: right;">Cancelar</button>
        </div>
    </div>
{% endblock %}