<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title  text-center w-100">Cancelar</h2>
            
        </div>
        <div class="modal-body text-center">
            <h4 >¿Esta seguro de querer cancelar?</h4>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
            <button class="btn btn-primary" type="submit" onclick="window.history.back()">Si</button>
        </div>
    </div>

</div>