{% extends 'inicio/base.html' %}
{% load static %}
{% block title %}
<title>Subir Fotos</title>
{% endblock %}
{% block content %}

<div id="message-container"></div>
<form id="upload-form"  method="post" enctype="multipart/form-data">
    {% csrf_token %}    
    <div class="container" id="formulario-container"  style="width: 80%; margin: 0 auto;">
        <center><h1>CARGAR LAS FOTOS PARA EL PERFIL</h1></center>
        
            
            <label for="photo_upload">1.Seleccionar fotos:</label>
            <div id="drop-area" class = "drag-area">
                <header>Arrastra las fotos aquí <br></header>
                <span >O<br></span>
                <input type="file" id="file-input" name="file-input" multiple style="display: none;">
                <label class="buscar-label" for="file-input">
                    <button type="button">Buscar Fotos</button>
                </label>
                <div id="preview-container"></div>
            </div>
            <div id="gallery"></div>
            <div style="display: flex; justify-content: space-between;">
                <button class="cancel-button" type="button" onclick="abrir_modal_cancelacion()">Atras</button>
                <button class="cargar-button" type="submit" onclick="mostrarAviso()">Cargar</button>
            </div>
        
    </div>
</form>

<div class="modal fade" id="cancelar-subir-fotos" role="dialog">
</div> 
{% endblock %}

{% block extrajs %}
<script type="text/javascript" async>
const dropArea = document.querySelector(".drag-area");
const dragText = dropArea.querySelector("header");
const button = dropArea.querySelector("button");
const input = dropArea.querySelector("input");
const previewContainer = document.getElementById('preview-container');
const cargarBtn = document.querySelector('.cargar-button');
const uploadForm = document.getElementById('upload-form');
const MAX_IMAGENES = 5;
let selectedFiles = [];


    var $ = jQuery.noConflict();
        function abrir_modal_cancelacion(){
            $('#cancelar-subir-fotos').load("{% url 'cancelar_subir_fotos' %}", function(){
                $(this).modal('show');
            });
        }
        document.querySelector('form').addEventListener('submit', function(event) {
                if (selectedFiles.length === 0) {
                    alert("Por favor, selecciona al menos una foto antes de enviar el formulario.");
                    event.preventDefault();  // Cancelar el evento de envío del formulario 
                } else if(confirm("¿Crear perfil con estas imagenes??")){
                    alert("Perfil creado con éxito");
                }else {
                    event.preventDefault();  
                }
        });
// Agregar la funcionalidad para arrastrar y soltar archivos
dropArea.addEventListener("dragover", (event) => {
    event.preventDefault();
    dropArea.classList.add("drag-over");
    dragText.textContent = "Suelta para cargar";
});
    
dropArea.addEventListener("dragleave", () => {
    dropArea.classList.remove("drag-over");
    dragText.textContent = "Arrastra las fotos aquí";
});
    
dropArea.addEventListener("drop", (event) => {
    event.preventDefault();
    dropArea.classList.remove("drag-over");
    dragText.textContent = "Arrastra las fotos aquí";
    const files = event.dataTransfer.files;
    console.log("Archivos recibidos");
    handleFiles(files);
});
    
// Agregar la funcionalidad al botón de buscar fotos
    button.onclick = () => {
    input.click();
}
    
// Manejar los archivos seleccionados
input.addEventListener("change", (event) => {
            const files = event.target.files;
            handleFiles(files);
        });
    
        // Función para manejar los archivos
        function handleFiles(files) {
            const validFiles = Array.from(files).filter(isValidFile);
        
            // Verificar duplicados en la lista actual de archivos seleccionados
            const duplicatesInSelected = validFiles.filter(file =>
                selectedFiles.some(f => f.name === file.name && f.size === file.size)
            );
        
            // Verificar duplicados en la lista de archivos a agregar
            const duplicatesToAdd = validFiles.filter((file, index) =>
                validFiles.some((f, i) => i !== index && f.name === file.name && f.size === file.size)
            );
        
            if (duplicatesInSelected.length > 0 || duplicatesToAdd.length > 0) {
                showMessage("Solo se permite subir una vez la misma imagen.", "error");
                return;
            }
        
            if (validFiles.length + previewContainer.children.length > MAX_IMAGENES) {
                showMessage(`Solo se permiten seleccionar hasta ${MAX_IMAGENES} imágenes.`, "error");
                return;
            }
        
            validFiles.forEach(file => {
                selectedFiles.push(file);
                const reader = new FileReader();
                reader.onload = () => {
                    const imgContainer = document.createElement("div"); // Crear un contenedor para la imagen y el botón de eliminar
                    imgContainer.classList.add("img-container"); // Agregar una clase CSS para estilos
        
                    const img = document.createElement("img");
                    img.src = reader.result;
                    img.classList.add('img-preview');
        
                    const removeBtn = document.createElement("span");
                    removeBtn.textContent = "X";
                    removeBtn.classList.add("remove-btn");
                    removeBtn.addEventListener("click", () => {
                        imgContainer.remove(); // Eliminar el contenedor completo
                        selectedFiles = selectedFiles.filter(f => f !== file);
                        updateFilesAndPreview();
                    });
        
                    imgContainer.appendChild(img); // Agregar la imagen al contenedor
                    imgContainer.appendChild(removeBtn); // Agregar el botón de eliminar al contenedor
                    previewContainer.appendChild(imgContainer); // Agregar el contenedor al contenedor de previsualización
                };
                reader.readAsDataURL(file);
                });        
                updateFilesAndPreview();
            }
            function showMessage(message, type) {
                const messageContainer = document.getElementById("message-container");
                messageContainer.innerHTML = `<div class="${type}-message">${message}</div>`;
                // Limpia el mensaje después de unos segundos
                setTimeout(() => {
                    messageContainer.innerHTML = "";
                }, 5000); // 5000 milisegundos = 5 segundos
            }
            // Función para validar archivos
            function isValidFile(file) {
                const validExtensions = ['jpg', 'png','jpeg'];
                const invalidExtensions = ['docx', 'pptx', 'xlsx','pdf'];
                const fileExtension = file.name.split('.').pop().toLowerCase();
                const isValidFormat = validExtensions.includes(fileExtension);
                const isInvalidFormat = invalidExtensions.includes(fileExtension);
                const isValidSize = file.size <= 3000000; // 3MB
                
                if (isInvalidFormat) {
                    alert("Solo se permiten imágenes en formato JPG y PNG.");
                    return false;
                }

                if (!isValidSize) {
                    alert(`Solo se permite imágenes de peso de 3 MB.`);
                }

                return isValidFormat && isValidSize;
            }
    
            // Función para actualizar archivos y previsualización
            function updateFilesAndPreview() {
                cargarBtn.disabled = selectedFiles.length === 0;
                // Agregar los archivos seleccionados al formulario
                const formData = new FormData(uploadForm);
                selectedFiles.forEach(file => {
                    formData.append('file-input', file);
                });
            }
            
</script>
{% endblock extrajs %}

