<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARGAR LAS FOTOS PARA EL PERFIL</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" style="width: 80%; margin: 0 auto;">
        <center><h1>CARGAR LAS FOTOS PARA EL PERFIL</h1></center>
        <form id="upload-form" action="{% url 'upload_profile_photos' %}" method="post" enctype="multipart/form-data">
            
            <label for="photo_upload">1.Seleccionar fotos:</label>
            <div id="drop-area" class = "drag-area">
                <header>Arrastra las fotos aquí <br></header>
                <span >O<br></span>
                <input type="file" id="file-input" multiple accept="image/jpeg, image/jpg, image/jpg" style="display: none;">
                <label class="buscar-label" for="file-input">
                    <button type="button">Buscar Fotos</button>
                </label>
                <div id="preview-container"></div>
            </div>
            <div id="gallery"></div>
            <div style="display: flex; justify-content: space-between;">
                <button class="atras-button" type="button">Cancelar</button>
                <button class="cargar-button" type="submit" disabled>Cargar</button>
                <button class="cancel-button" type="button">Cancelar</button>
            </div>
        </form>
    </div>

    <script>
        const dropArea = document.querySelector(".drag-area");
        const dragText = dropArea.querySelector("header");
        const button = dropArea.querySelector("button");
        const input = dropArea.querySelector("input");
        const previewContainer = document.getElementById('preview-container');
        const atrasBtn = document.querySelector('.atras-button');
        const cargarBtn = document.querySelector('.cargar-button');
        const cancelarBtn = document.querySelector('.cancel-button');
        const uploadForm = document.getElementById('upload-form');
        const MAX_IMAGENES = 5;
        let selectedFiles = [];
    
        // Agregar la funcionalidad para arrastrar y soltar archivos
        dropArea.addEventListener("dragover", (event) => {
        event.preventDefault();
        dropArea.classList.add("drag-over");
        dragText.textContent = "Suelta para cargar";
        });
    
        dropArea.addEventListener("dragleave", () => {
            dropArea.classList.remove("drag-over");
            dragText.textContent = "Arrastra las fotos aquí";
        });
    
        dropArea.addEventListener("drop", (event) => {
            event.preventDefault();
            dropArea.classList.remove("drag-over");
            dragText.textContent = "Arrastra las fotos aquí";
            const files = event.dataTransfer.files;
            handleFiles(files);
        });
    
        // Agregar la funcionalidad al botón de buscar fotos
        button.onclick = () => {
            input.click();
        }
    
        // Manejar los archivos seleccionados
        input.addEventListener("change", (event) => {
            const files = event.target.files;
            handleFiles(files);
        });
    
        // Función para manejar los archivos
        function handleFiles(files) {
        const validFiles = Array.from(files).filter(isValidFile);
    
        if (validFiles.length + previewContainer.children.length > MAX_IMAGENES) {
            alert(`Solo se permiten seleccionar hasta ${MAX_IMAGENES} imágenes.`);
            return;
        }
    
            validFiles.forEach(file => {
            selectedFiles.push(file);
            const reader = new FileReader();
            reader.onload = () => {
                const imgContainer = document.createElement("div"); // Crear un contenedor para la imagen y el botón de eliminar
                imgContainer.classList.add("img-container"); // Agregar una clase CSS para estilos

                const img = document.createElement("img");
                img.src = reader.result;
                img.classList.add('img-preview');

                const removeBtn = document.createElement("span");
                removeBtn.textContent = "X";
                removeBtn.classList.add("remove-btn");
                removeBtn.addEventListener("click", () => {
                    imgContainer.remove(); // Eliminar el contenedor completo
                    selectedFiles = selectedFiles.filter(f => f !== file);
                    updateFilesAndPreview();
                });

                imgContainer.appendChild(img); // Agregar la imagen al contenedor
                imgContainer.appendChild(removeBtn); // Agregar el botón de eliminar al contenedor
                previewContainer.appendChild(imgContainer); // Agregar el contenedor al contenedor de previsualización
            };
                reader.readAsDataURL(file);
            });

                updateFilesAndPreview();
            }
    
            // Función para validar archivos
            function isValidFile(file) {
                const validExtensions = ['jpg', 'png'];
                const fileExtension = file.name.split('.').pop().toLowerCase();
                const isValidFormat = validExtensions.includes(fileExtension);
                const isValidSize = file.size <= 3000000; // 3MB
    
                return isValidFormat && isValidSize;
            }
    
            // Función para actualizar archivos y previsualización
            function updateFilesAndPreview() {
                cargarBtn.disabled = selectedFiles.length === 0;
            }
    
            // FUNCIONALIDAD BOTONES
            atrasBtn.addEventListener('click', () => {
                uploadForm.reset();
                previewContainer.innerHTML = '';
                selectedFiles = [];
                updateFilesAndPreview();
            });
    
            cargarBtn.addEventListener('click', () => {
                if (selectedFiles.length === 0) {
                    alert('No se han seleccionado archivos para cargar.');
                    return;
                }
    
                confirmAction('¿Estás seguro de que quieres cargar las fotos?', () => {
                    uploadForm.submit();
                });
            });
    
            cancelarBtn.addEventListener('click', () => {
                confirmAction('¿Estás seguro de que quieres cancelar?', () => {
                    uploadForm.reset();
                    previewContainer.innerHTML = '';
                    selectedFiles = [];
                    updateFilesAndPreview();
                });
            });
    
            // Función de confirmación para eventos click
            function confirmAction(message, action) {
            return new Promise((resolve) => {
            const dialog = document.createElement('dialog');
            dialog.innerHTML = `
                <div class="dialog-container">
                    <p>${message}</p>
                    <div class="buttons">
                        <button class="button-primary" id="confirm-button">Sí</button>
                        <button class="button-secondary" id="cancel-button">No</button>
                    </div>
                </div>
            `;
    
                document.body.appendChild(dialog);
    
                const confirmButton = dialog.querySelector('#confirm-button');
                const cancelButton = dialog.querySelector('#cancel-button');
    
                confirmButton.addEventListener('click', () => {
                    dialog.close();
                    resolve(true);
                    action();
                });
    
                cancelButton.addEventListener('click', () => {
                    dialog.close();
                    resolve(false);
                });
                dialog.showModal();
            });
        }
    </script>
</body>
</html>