<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARGAR LAS FOTOS PARA EL PERFIL</title>
    <link rel="stylesheet" href="style.css">
    <script src="./app.js" type="text/javascript" async></script>
</head>
<body>
    <div class="container" style="width: 80%; margin: 0 auto;">
        <center><h1>CARGAR LAS FOTOS PARA EL PERFIL</h1></center>

        <div id="message-container"></div>

        <form id="upload-form" action="{% url 'cargar_fotos_perfil' %}"  method="post" enctype="multipart/form-data">
            
            <label for="photo_upload">1.Seleccionar fotos:</label>
            <div id="drop-area" class = "drag-area">
                <header>Arrastra las fotos aquí <br></header>
                <span >O<br></span>
                <input type="file" id="file-input" name="file-input" multiple style="display: none;">
                <label class="buscar-label" for="file-input">
                    <button type="button">Buscar Fotos</button>
                </label>
                <div id="preview-container"></div>
            </div>
            <div id="gallery"></div>
            <div style="display: flex; justify-content: space-between;">
                <button class="cancel-button" type="button">Cancelar</button>
                <button class="cargar-button" type="submit" disabled>Cargar</button>
            </div>
        </form>
    </div>

</body>
</html>