body {
  font-family: "Helvetica";
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1{font-size: 30px;}h2{font-size: 26px;}h3{font-size: 20px;}h4{font-size: 15px}h5{font-size: 13px;}h6{font-size: 10px;}


.btn-primary{
  background-color: #F26419;
  color: #EEEEEE;
  border-style: none;
  width: 200px;
  font-size: 20px;
}
.btn-primary:hover{
  background-color: #F27431;
}
.btn-secondary{
  background-color: #2F4858;
  color: #EEEEEE;
  border-style: none;
  width: 200px;
  font-size: 20px;
}
.btn-secondary:hover{
  background-color: #5F788A;
}
