body {
  font-family: "Helvetica";
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1{font-size: 30px;}h2{font-size: 26px;}h3{font-size: 20px;}h4{font-size: 15px}h5{font-size: 13px;}h6{font-size: 10px;}


.btn-primary{
  background-color: #F26419;
  color: #EEEEEE;
  border-style: none;
  width: 200px;
  font-size: 20px;
  margin: 0px 5%;
}
.btn-primary:hover{
  background-color: #F27431;
}
.btn-secondary{
  background-color: #2F4858;
  color: #EEEEEE;
  border-style: none;
  width: 200px;
  font-size: 20px;
  margin: 0px 5%;
}
.btn-secondary:hover{
  background-color: #5F788A;
}


.mostrarHorario{
  width: 280px;display: flex;
  background-color: #F26419;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  margin: 5px;

}

.a{  background-color: #55DDE0;}
.b{  background-color: #F6AE2D;}
.c{  background-color: #F26419;}

#fecha-registrar-amigo{
  width: 27%;
}

#drop-area {
  border: 2px dashed #ccc;
  padding: 100px 130px;
  text-align: center;
  margin: 20px 5px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.drop-text {
  font-size: 18px;
  color: #6F5959;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.dragged-over {
  border-color: #000;
}

.img-preview {
  width: 200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: "Helvetica Now", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

body {
  font-family: "Helvetica Now", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f7f7f7;
  color: #333;
}

.cargar-button,
.cancel-button {
  background-color: #D9D9D9;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.cargar-button:hover,
.cancel-button:hover {
  background-color: #bfbfbf;
}

.buscar-label {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #D9D9D9;
  color: #050505;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.buscar-label:hover {
  background-color: #bfbfbf;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 15%;
  cursor: pointer;
}

.preview-wrapper {
  position: relative;
  display: inline-block;
}

#footer-container{
  background-color: #2F4858;
}
.offcanvas-start { 
  background-color: #2F4858;
}
/*INICIO DE CSS PARA LA BASE*/
@media (max-width: 768px) {
  .navbar-nav > li:hover {
    background-color: #0dcaf0;
  }
}

/*colores*/
.color1 {
color: #55DDE0 !important; /* Código hexadecimal celeste azul para titulo offcanvas sidebar */
}

/* Estilo para los elementos de la lista en el sidebar */
.nav-link {
color: #f0f0f0; /* Color gris en hexadecimal */
}

/*Estilo para resaltar el elemento activo */
.nav-item.active .nav-link {
font-weight: bold; /* Negrita para el elemento activo */
color: #0000ff; /* Color azul en hexadecimal */
}

/* Personaliza la duración de la transición del offcanvas */
.offcanvas {
transition: transform 1.5s ease; /* Cambia 0.5s por la duración deseada en segundos */
}
/* Estilos para todos los iconos */
i {
font-size: 1.4em; /* Define el tamaño de los iconos */
/* Otros estilos opcionales */
color: #55DDE0; /* Cambia el color de los iconos */
margin-right: 0.5em; /* Añade un margen a la derecha de los iconos */
}
/*FIN DE CSS PARA LA BASE*/

@media (max-width: 586px) {
  #formulario-container{
    width: 100%;
    margin: 0px;
    h2{font-size: 20px;}h3{font-size: 14px;}h4{font-size: 12px;}h5{font-size: 10px;}
  }
  .btn-primary{
    width: 100px;
    font-size: 14px;
    margin: 5px 10px;
  }
  .btn-secondary{
    width: 100px;
    font-size: 14px;
    margin: 5px 10px;
  }
  #fecha-registrar-amigo{
    width: 40%;
  }
}