body {
  font-family: "Helvetica";
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1{font-size: 30px;}h2{font-size: 26px;}h3{font-size: 20px;}h4{font-size: 15px}h5{font-size: 13px;}h6{font-size: 10px;}


.btn-primary{
  background-color: #F26419;
  color: #EEEEEE;
  border-style: none;
  width: 200px;
  font-size: 20px;
}
.btn-primary:hover{
  background-color: #F27431;
}
.btn-secondary{
  background-color: #2F4858;
  color: #EEEEEE;
  border-style: none;
  width: 200px;
  font-size: 20px;
}
.btn-secondary:hover{
  background-color: #5F788A;
}

/*Codigo para el subir Fotos*/
#drop-area {
  border: 2px dashed #ccc;
  padding: 100px 130px;
  text-align: center;
  margin: 20px 5px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.drop-text {
  font-size: 18px;
  color: #6F5959;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.dragged-over {
  border-color: #000;
}

.img-preview {
  width: 200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: "Helvetica Now", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

body {
  font-family: "Helvetica Now", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f7f7f7;
  color: #333;
}

.cargar-button,
.cancel-button {
  background-color: #D9D9D9;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.cargar-button:hover,
.cancel-button:hover {
  background-color: #bfbfbf;
}

.buscar-label {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #D9D9D9;
  color: #050505;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.buscar-label:hover {
  background-color: #bfbfbf;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 15%;
  cursor: pointer;
}

.preview-wrapper {
  position: relative;
  display: inline-block;
}
/*Fin codigo para subir Fotos*/
