{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="container mt-5 my-5 border" id="formulario-container">
    <a href="{% url 'guardar_intereses_categorias'%}" style="font-size: 18px; display: block; text-align: center;">
        Categorias e intereses
    </a>
    <a href="{% url 'editarHorasAmigo' id_amigo=amigo.id %}"  style="font-size: 18px; display: block; text-align: center;" >Disponibilidad de Tiempo</a>
        <div style="text-align: center;margin: 1%;padding: 2%;"></div>
    <h2 class="mb-4 text-left">EDITAR PERFIL</h2>
    <p> Cambia tu foto de verfil y tu informacion personal</p>
    
    <div class="perfil_container">
        <div class="circulo" style="width: 150px; height: 150px; background-color: rgba(239, 239, 239, 0.9); border-radius: 50%; display: flex; align-items: center; justify-content: center; position: relative;">
        
            {% if foto_perfil.image %}
            <img id="perfil-img" src="{{ foto_perfil.image.url }}" alt="Foto de perfil" style="width: 100%; height: 100%; border-radius: 50%; object-fit: cover; object-position: top; position: absolute; top: 0; left: 0;">
            
            {% else %}
            <img id="perfil-img" src="#" alt="Sin imagen" style="width: 100%; height: 100%; border-radius: 50%; display: none;">
            {% endif %}
            <i class="fa fa-camera" aria-hidden="true" style="font-size: 30px; text-align-last: right;"></i>
        </div>
    </div>

    <form method="POST" action="{% url 'editarAmigo' id_amigo=amigo.id %}" id="registroForm" enctype="multipart/form-data">
        {% csrf_token %}
        
        <input type="file" name="image" id="image" accept="image/*" onchange="previewImage(event)">
        
    
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre: <span class="campo-obligatorio">*</span></label><br>
                    <input type="text" id="nombre" name="nombre" class="nombre form-control" required oninput="validarNombre(this)" data-error="nombreError" value="{{ amigo.nombre }}">
                    <small id="nombreError" class="text-danger"></small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellido">Apellido: <span class="campo-obligatorio">*</span></label><br>
                    <input type="text" id="apellido" name="apellido" class="nombre form-control" required oninput="validarApellido(this)" data-error="apellidoError" value="{{ amigo.apellido }}">
                    <small id="apellidoError" class="text-danger"></small>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefono">Teléfono: <span class="campo-obligatorio">*</span></label><br>
                    <input type="text" id="telefono" name="telefono" class="telefono form-control" required oninput="validarTelefono(this)" data-error="telefonoError" value="{{ amigo.telefono }}">
                    <small id="telefonoError" class="text-danger"></small>
                    {% if telefonoRepetido %}
                    <small class="text-danger">{{ telefonoRepetido }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fecha-nacimiento">Fecha de Nacimiento: <span class="campo-obligatorio">*</span></label><br>
                    <input type="date" id="fecha-nacimiento" name="fecha_nacimiento" class="fecNac form-control" required data-error="fechaError" oninput="validarFechaNacimiento(this)" value="{{ amigo.fecha_nacimiento|date:'Y-m-d' }}">
                    <small id="fechaError" class="text-danger"></small>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="pais">País: <span class="campo-obligatorio">*</span></label><br>
                <input type="text" id="pais" name="pais" class="ubicacion form-control" required oninput="validarUbicacion(this)" data-error="paisError" value="{{ amigo.ubicacion.pais }}">
                <small id="paisError" class="text-danger"></small>
            </div>
            <div class="col-md-4">
                <label for="ciudad">Ciudad: <span class="campo-obligatorio">*</span></label><br>
                <input type="text" id="ciudad" name="ciudad" class="ubicacion form-control" required oninput="validarUbicacion(this)" data-error="ciudadError" value="{{ amigo.ubicacion.ciudad }}">
                <small id="ciudadError" class="text-danger"></small>
            </div>
            <div class="col-md-4">
                <label for="localidad">Localidad: <span class="campo-obligatorio">*</span></label><br>
                <input type="text" id="localidad" name="localidad" class="ubicacion form-control" required oninput="validarUbicacion(this)" data-error="localidadError" value="{{ amigo.ubicacion.localidad }}">
                <small id="localidadError" class="text-danger"></small>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="genero">Género: <span class="campo-obligatorio">*</span></label><br>
                    {{ form.genero }}
                </div>
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="descripcion">Descríbete: <span class="campo-obligatorio">*</span></label><br>
            <textarea id="descripcion" name="descripcion" class="desc form-control" required oninput="validarDescripcion(this)" data-error="descripcionError">{{ amigo.descripcion }}</textarea>
            <small id="descripcionError" class="text-danger"></small>
        </div>

        <!--div class="form-group mb-3">
            <input type="checkbox" id="politica" name="politica" value="aceptado" required>
            <label for="politica">Acepto la política de privacidad</label><br>
            <input type="checkbox" id="terminos" name="terminos" value="aceptado" required>
            <label for="terminos">Acepto los términos y condiciones</label>
        </div-->

        <div class="button-group" style="display: flex; justify-content: space-between;">
            <button class="btn btn-secondary" type="button" onclick="volverAtras()">CANCELAR</button>
            <button class="btn btn-primary" type="submit">CONFIRMAR</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  document.getElementById('registroForm').addEventListener('submit', function(event) {
    console.log("Evento de envío del formulario activado");
    if(confirm("¿Está seguro que quiere cambiar datos del perfil?")){
      console.log("Confirmación aceptada, enviando formulario...");
    } else {
        console.log("Confirmación cancelada");
        event.preventDefault();
    }
  });

  function volverAtras() {
    window.location.href = "{% url 'Inicio' %}";
  }

  function validarFormulario() {
      var campos = document.querySelectorAll('input, textarea, select');
      var formValido = true;

      campos.forEach(function (campo) {
          if (campo.required && campo.value.trim() === '') {
              var errorMsgId = campo.getAttribute('data-error');
              var errorMsg = 'El campo ' + campo.id + ' no puede estar vacío.';
              document.getElementById(errorMsgId).textContent = errorMsg;
              formValido = false;
          }
      });

      // Verificar si hay algún mensaje de error presente
      var mensajesError = document.querySelectorAll('.text-danger');
      mensajesError.forEach(function (mensaje) {
          if (mensaje.textContent !== '') {
              formValido = false;
          }
      });

      return formValido;
  }

  function validarNombre(elemento) {
      const nombreInput = elemento.value.trim();
      const soloLetras = /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/; // Expresión regular para letras y espacios
      if (!soloLetras.test(nombreInput)) {
          document.getElementById('nombreError').textContent = 'El nombre solo puede contener letras y espacios.';
      } else {
          document.getElementById('nombreError').textContent = '';
      }
  }

  function validarApellido(elemento) {
      const apellidoInput = elemento.value.trim();
      const soloLetras = /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/; // Expresión regular para letras y espacios
      if (!soloLetras.test(apellidoInput)) {
          document.getElementById('apellidoError').textContent = 'El apellido solo puede contener letras y espacios.';
      } else {
          document.getElementById('apellidoError').textContent = '';
      }
  }

  function validarTelefono(elemento) {
      const telefonoInput = elemento.value.trim();
      const soloNumeros = /^[0-9]+$/; // Expresión regular para solo números
      if (!soloNumeros.test(telefonoInput)) {
          document.getElementById('telefonoError').textContent = 'El teléfono solo puede contener números.';
      } else {
          document.getElementById('telefonoError').textContent = '';
      }
  }
 

  function validarFechaNacimiento(elemento) {
      const fechaInput = new Date(elemento.value);
      const hoy = new Date();
      if (fechaInput >= hoy) {
          document.getElementById('fechaError').textContent = 'La fecha de nacimiento no puede ser en el futuro.';
      } else {
          document.getElementById('fechaError').textContent = '';
      }
  }

  function validarUbicacion(elemento) {
      const ubicacionInput = elemento.value.trim();
      if (ubicacionInput === '') {
          var errorMsgId = elemento.getAttribute('data-error');
          document.getElementById(errorMsgId).textContent = 'Este campo no puede estar vacío.';
      } else {
          var errorMsgId = elemento.getAttribute('data-error');
          document.getElementById(errorMsgId).textContent = '';
      }
  }

  function validarDescripcion(elemento) {
      const descripcionInput = elemento.value.trim();
      if (descripcionInput.length < 10) {
          document.getElementById('descripcionError').textContent = 'La descripción debe tener al menos 10 caracteres.';
      } else {
          document.getElementById('descripcionError').textContent = '';
      }
  }

  function previewImage(event) {
          var reader = new FileReader();
          reader.onload = function(){
              var output = document.getElementById('perfil-img');
              output.src = reader.result;
              output.style.display = 'block';
          };
          reader.readAsDataURL(event.target.files[0]);
  }

</script>
{% endblock %}
