<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intereses y Categorias</title>
    <!-- Enlace a styles css -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</head>

<body>
    <div class="container">
        <div class="container-intereses">
            <h2>Intereses</h2>
            <input type="text" class="form-control mb-3" placeholder="Buscar">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes1">
                        <label class="form-check-label" for="interes1">Artes</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes2">
                        <label class="form-check-label" for="interes2">Musica</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes1">
                        <label class="form-check-label" for="interes1">Deportes</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes2">
                        <label class="form-check-label" for="interes2">Karaoke</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes1">
                        <label class="form-check-label" for="interes1">Moda</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes2">
                        <label class="form-check-label" for="interes2">Fotografia</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes1">
                        <label class="form-check-label" for="interes1">Maquillaje</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes2">
                        <label class="form-check-label" for="interes2">Escribir</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes1">
                        <label class="form-check-label" for="interes1">Dibujar</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes2">
                        <label class="form-check-label" for="interes2">Pintar</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes1">
                        <label class="form-check-label" for="interes1">Anime</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes2">
                        <label class="form-check-label" for="interes2">Baile</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes1">
                        <label class="form-check-label" for="interes1">Comida y bebida</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes2">
                        <label class="form-check-label" for="interes2">Bienestar y fitness</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes1">
                        <label class="form-check-label" for="interes1">Coches</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interes2">
                        <label class="form-check-label" for="interes2">Videojuegos</label>
                    </div>
                </div>
            </div>


        </div>
        <div class="container contenedor-categorias">
            <div class="row">
                <div class="col-md-3">
                    <h4>Categorías</h4>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria1">
                        <label class="form-check-label" for="categoria1">Casual</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria2">
                        <label class="form-check-label" for="categoria2">Cosplay</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria1">
                        <label class="form-check-label" for="categoria1">Deporte</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria2">
                        <label class="form-check-label" for="categoria2">Arte y cultura</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria1">
                        <label class="form-check-label" for="categoria1">Viajes</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria2">
                        <label class="form-check-label" for="categoria2">Turismo</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria1">
                        <label class="form-check-label" for="categoria1">Eventos sociales</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria2">
                        <label class="form-check-label" for="categoria2">Aventuras</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria1">
                        <label class="form-check-label" for="categoria1">Experiencias extremas</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria2">
                        <label class="form-check-label" for="categoria2">Actividades al aire libre</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria1">
                        <label class="form-check-label" for="categoria1">Gastronomía</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria2">
                        <label class="form-check-label" for="categoria2">Aprendizaje</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria1">
                        <label class="form-check-label" for="categoria1">Videojuegos</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria2">
                        <label class="form-check-label" for="categoria2">Bienestar y fitness</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria1">
                        <label class="form-check-label" for="categoria1">Voluntariados</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="categoria2">
                        <label class="form-check-label" for="categoria2">Formal</label>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-block mt-3" onclick="mostrarSeleccion()">CONTINUAR</button>
    </div>
</body>
</html>