<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intereses</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container text-justify border rounded p-4" style="margin-left: 150px;" >
        <h1 class="mt-5 ">Intereses</h1>
        <div class="row">
            <div class="col-md-6 input-group">
                <input type="text" id="searchInput" class="form-control mb-4" placeholder="Buscar">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-bordered" type="submit">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
            <div id="messageBox" class="alert alert-warning" style="display: none;"></div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h5>Intereses seleccionados:</h5>
                <div id="selectedInterests" class="mb-3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Seleccione sus intereses personales:</p>
                <ul id="interestsList" class="list-group"></ul>
            </div>
        </div>
        <h2 class="mt-5">Categorías</h2>
        <p>Seleccione el tipo de salidas que está dispuesto a tener de las siguientes categorías:</p>
        <div class="row">
            <div class="col-md-12">
                <ul id="categoriesList" class="list-group"></ul>
            </div>
            <div class="container-fluid container-center">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button id="continueBtn" class="btn btn-warning active mt-3" type="submit" onclick="mostrarConfirmacion()">
                        CONTINUAR
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Script JS -->
        <script src="app.js"></script>
</body>

</html>