<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Datos Personales del Cliente</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">REGISTRAR CLIENTE</h1>
    <form>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre: </label>
            <input type="text" class="form-control" id="nombre" required>
            <label for="apellido" class="form-label">Apellido: </label>
            <input type="text" class="form-control" id="apellido" required>
            <label for="telefono" class="form-label">Telefono: </label>
            <input type="text" class="form-control" id="telefono" required>
            <label for="start">Fecha de Nacimiento:</label><br>
            <input type="date" id="start" name="trip-start" min="1960-01-01" max="2006-12-31"/><br>
            <label for="country" class="form-label">Pais: </label>
            <input type="text" class="form-control" id="country" required>
            <label for="city" class="form-label">Ciudad: </label>
            <input type="text" class="form-control" id="city" required>
            <label for="location" class="form-label">Localidad: </label>
            <input type="text" class="form-control" id="location" required>
            <label for="email">Correo electronico:</label>
            <input type="email" placeholder="@gmail.com" id="email" pattern=".+@example\.com" size="30" required />
            <label for="password">Contraseña: </label>
            <input type="password" name="password" id="password">
            <span>Mostrar</span>
            <label for="password">Repetir Contraseña: </label>
            <input type="password" name="password" id="password">
            <span>Mostrar</span>
            <p>Género</p>
            <div>
              <input type="radio" id="Femenino" name="drone" value="Femenino" checked>
              <label for="Femenino">Femenino</label>
            </div>
            <div>
              <input type="radio" id="Masculino" name="drone" value="Masculino" checked>
              <label for="Masculino">Masculino</label>
            </div>
            <div>
              <input type="radio" id="No binario/otro" name="drone" value="No binario/otro" checked>
              <label for="No binario/otro">No binario/otro</label>
            </div>
            <div>
              <input type="radio" id="Prefiero no decir" name="drone" value="Prefiero no decir" checked>
              <label for="Prefiero no decir">Prefiero no decir</label>
            </div>
            <label for="descripcion">Describete:</label><br>
            <textarea id="descripcion" name="descripcion" rows="4" cols="50"></textarea><br>
          </div>
          <div>
            <label>
              <input type="checkbox">
              He leído y acepto el aviso legal y la Política de privacidad. *
            </label><br>
            <label>
              <input type="checkbox">
              Acepto los términos y condiciones. *
            </label>
          </div>
          
    </form>
    <div style="display: flex; justify-content: space-between;">
      <button class="cancel-button" type="button">Cancelar</button>
      <button class="continuar-button" type="submit" disabled>Continuar</button>
    </div>
  </div>  
</body>
</html>