<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar Datos Personales del Cliente</title>
  <!-- Enlace a Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container mt-5">
    <h1 class="mb-4 text-center">REGISTRAR CLIENTE</h1>
    <form>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nombre">Nombre: *</label><br>
            <input type="text" id="nombre" class="nombre" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="apellido">Apellido: *</label><br>
            <input type="text" id="apellido" class="nombre" required>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="telefono">Teléfono: *</label><br>
            <input type="tel" id="telefono" class="telefono" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="fecha-nacimiento">Fecha de Nacimiento: *</label><br>
            <input type="date" id="fecha-nacimiento" class="fecNac" required>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="row">
          <div class="col-md-4">
            <label for="pais">País: *</label><br>
            <input type="text" id="pais" class="ubicacion" required>
          </div>
          <div class="col-md-4">
            <label for="ciudad">Ciudad: *</label><br>
            <input type="text" id="ciudad" class="ubicacion" required>
          </div>
          <div class="col-md-4">
            <label for="localidad">Localidad: *</label><br>
            <input type="text" id="localidad" class="ubicacion" required>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email: *</label><br>
            <input type="email" id="email" class="email" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="contrasena">Contraseña: *</label><br>
                <input type="password" id="contrasena" class="paswd" required>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <div class="form-group mb-3">
              <label>Género: *</label>
              <div class="radio-group">
                <div>
                  <input type="radio" id="femenino" name="genero" value="femenino" required>
                  <label for="femenino">Femenino</label>
                </div>
                <div>
                  <input type="radio" id="masculino" name="genero" value="masculino" required>
                  <label for="masculino">Masculino</label>
                </div>
                <div>
                  <input type="radio" id="no-binario" name="genero" value="no-binario" required>
                  <label for="no-binario">No binario/otro</label>
                </div>
                <div>
                  <input type="radio" id="prefiero-no-decir" name="genero" value="prefiero-no-decir" required>
                  <label for="prefiero -no-decir">Prefiero no decir</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="repetir-contrasena">Repetir contraseña: *</label><br>
            <input type="password" id="repetir-contrasena" required>
          </div>
        </div>
      </div>
    
      <div class="form-group mb-3">
        <label for="descripcion">Descríbete: *</label><br>
        <textarea id="descripcion" class="desc" required></textarea>
      </div>
      <div class="checkbox-group mb-3">
        <div>
          <input type="checkbox" id="aviso-legal" required>
          <label for="aviso-legal">He leído y acepto el aviso legal y la Política de privacidad. *</label>
        </div>
        <div>
          <input type="checkbox" id="terminos-condiciones" required>
          <label for="terminos-condiciones">Acepto los términos y condiciones. *</label>
        </div>
      </div>
      <div class="button-group" style="display: flex; justify-content: space-between;">
        <button class="cancel-button" type="button">CANCELAR</button>
        <button class="continuar-button" type="submit">CONTINUAR</button>
      </div>
    </form>
  </div>
</body>

</html>