{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-5 my-5 border" id="formulario-container">
    <h2 class="mb-4 text-center">REGISTRAR CLIENTE</h2>
    <form method="POST" action="{% url 'registrar_cliente' %}" id="registroForm">
    {% csrf_token %}
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nombre">Nombre: <span class="campo-obligatorio">*</span></label><br>
            <input type="text" id="nombre" name="nombre" class="nombre form-control" required oninput="validarNoSoloNumeros(this)"
              oninput="validarNombre(this)">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            
            <label for="apellido">Apellido: <span class="campo-obligatorio">*</span></label><br>
            <input type="text" id="apellido" name="apellido" class="nombre form-control" required oninput="validarNoSoloNumeros(this)"
              oninput="validarApellido(this)">
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="telefono">Teléfono: <span class="campo-obligatorio">*</span></label><br>
            <input type="tel" id="telefono" name="telefono" class="telefono form-control" required pattern="[0-9]{8}"
              title="El teléfono debe tener exactamente 8 dígitos">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="fecha-nacimiento">Fecha de Nacimiento: <span class="campo-obligatorio">*</span></label><br>
            <input type="date" id="fecha-nacimiento" name="fecha_nacimiento" class="fecNac form-control" required>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="pais">País: <span class="campo-obligatorio">*</span></label><br>
          <input type="text" id="pais" name="pais" class="ubicacion form-control" required oninput="validarUbicacion(this)">
        </div>
        <div class="col-md-4">
          <label for="ciudad">Ciudad: <span class="campo-obligatorio">*</span></label><br>
          <input type="text" id="ciudad" name="ciudad" class="ubicacion form-control" required oninput="validarUbicacion(this)">
        </div>
        <div class="col-md-4">
          <label for="localidad">Localidad: <span class="campo-obligatorio">*</span></label><br>
          <input type="text" id="localidad" name="localidad" class="ubicacion form-control" required oninput="validarUbicacion(this)">
          <!-- Agrega una pequeña etiqueta para mostrar mensajes de error -->
          <small id="localidadError" class="text-danger"></small>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email: <span class="campo-obligatorio">*</span></label><br>
            <input type="email" id="email" name="correo" class="email form-control" required
              pattern="[a-zA-Z0-9._%+-]+@(gmail|hotmail)\.(com)">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="contrasena">Contraseña: <span class="campo-obligatorio">*</span></label><br>
            <div class="input-group">
              <input type="password" id="contrasena1" name="contrasena"class="paswd form-control" required>
              <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">
                <i class="fas fa-eye" id="togglePasswordIcon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            {{ form.genero }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="repetir-contrasena">Repetir contraseña: <span class="campo-obligatorio">*</span></label><br>
            <div class="input-group">
              <input type="password" id="contrasena2" class="paswd form-control" required>
              <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">
                <i class="fas fa-eye" id="togglePasswordIcon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="descripcion">Descríbete: <span class="campo-obligatorio">*</span></label><br>
        <textarea id="descripcion" name="descripcion" class="desc form-control" required minlength="50" maxlength="500"
          oninput="validarNoSoloNumeros(this)"></textarea>
      </div>
      <div class="checkbox-group mb-3">
        <div>
          <input type="checkbox" id="aviso-legal" required>
          <label for="aviso-legal">He leído y acepto el aviso legal y la Política de privacidad. *</label>
        </div>
        <div>
          <input type="checkbox" id="terminos-condiciones" required>
          <label for="terminos-condiciones">Acepto los términos y condiciones. *</label>
        </div>
      </div>
      <div class="button-group" style="display: flex; justify-content: space-between;">
        <button class="btn btn-secondary" type="button">CANCELAR</button>
        <button class="btn btn-primary" type="submit">CONTINUAR</button>
      </div>

    </form>
  </div>
  <!--</form>-->

  {% endblock %}



  {% block extrajs %}

<script type="text/javascript">
  document.getElementById('registroForm').addEventListener('submit', function(event) {
  
    if(confirm("¿Guardar horario seleccionado?")){
        alert("Horario guardado con éxito.");
    }else {
        event.preventDefault();  
    }
  });
  function volverAtras() {
      window.history.back();
  }
  function mostrarAviso() {
      alert("Reserva exitosa");
  }
// Función para alternar la visibilidad de la contraseña
function togglePasswordVisibility() {
  var passwordInput = document.getElementById("contrasena1");
  var toggleIcon = document.getElementById("togglePasswordIcon");

  if (passwordInput.type === "password") {
    passwordInput.type = "text";
    toggleIcon.classList.remove("fa-eye-slash");
    toggleIcon.classList.add("fa-eye");
  } else {
    passwordInput.type = "password";
    toggleIcon.classList.remove("fa-eye");
    toggleIcon.classList.add("fa-eye-slash");
  }
}

// Configurar el estado inicial del input y el icono
var passwordInput = document.getElementById("contrasena1");
var toggleIcon = document.getElementById("togglePasswordIcon");

passwordInput.type = "password"; // Iniciar con la contraseña oculta
toggleIcon.classList.remove("fa-eye"); // Iniciar con el ojo cerrado

// Agregar el evento onclick al icono para alternar la visibilidad de la contraseña
toggleIcon.addEventListener("click", togglePasswordVisibility);


// Ontenemos los valores de los campos de contraseñas 
pass1 = document.getElementById('contrasena1');
pass2 = document.getElementById('contrasena2');

// Verificamos si las constraseñas no coinciden
if (pass1.value != pass2.value) {

  // Si las constraseñas no coinciden mostramos un mensaje
  document.getElementById("error").classList.add("mostrar");

  return false;
}

else {

  // Si las contraseñas coinciden ocultamos el mensaje de error
  document.getElementById("error").classList.remove("mostrar");

  // Mostramos un mensaje mencionando que las Contraseñas coinciden
  document.getElementById("ok").classList.remove("ocultar");

  // Desabilitamos el botón de login
  document.getElementById("login").disabled = true;

  // Refrescamos la página (Simulación de envío del formulario)
  setTimeout(function() {
  location.reload();
  }, 3000);

  return true;
}

function verificarPasswords() {

  // Ontenemos los valores de los campos de contraseñas 
  pass1 = document.getElementById('contrasena1');
  pass2 = document.getElementById('contrasena2');

  // Verificamos si las constraseñas no coinciden 
  if (pass1.value != pass2.value) {

      // Si las constraseñas no coinciden mostramos un mensaje 
      document.getElementById("error").classList.add("mostrar");

      return false;
  } else {

      // Si las contraseñas coinciden ocultamos el mensaje de error
      document.getElementById("error").classList.remove("mostrar");

      // Mostramos un mensaje mencionando que las Contraseñas coinciden 
      document.getElementById("ok").classList.remove("ocultar");

      // Desabilitamos el botón de login 
      document.getElementById("login").disabled = true;

      // Refrescamos la página (Simulación de envío del formulario) 
      setTimeout(function() {
          location.reload();
      }, 3000);

      return true;
  }

}

// Función para validar campos antes de enviar el formulario
document.getElementById("registroForm").addEventListener("submit", function (event) {
  var nombreInput = document.getElementById("nombre").value;
  var apellidoInput = document.getElementById("apellido").value;
  var telefonoInput = document.getElementById("telefono").value;
  var emailInput = document.getElementById("email").value;
  var descripcionInput = document.getElementById("descripcion").value;
  var contrasenaInput = document.getElementById("contrasena").value;
  var generoInputs = document.querySelectorAll('input[name="genero"]:checked');
  var ciudadInput = document.getElementById("ciudad").value;
  var paisInput = document.getElementById("pais").value;
  var localidadInput = document.getElementById("localidad").value;
  
  // Validar que los campos no estén vacíos
  if (!telefonoInput || !emailInput || !descripcionInput || !contrasenaInput || generoInputs.length !== 1 ||
    !ciudadInput || !paisInput || !localidadInput || !nombreInput || !apellidoInput) {
    alert("Todos los campos son obligatorios");
    event.preventDefault(); // Detener el envío del formulario
    return;
  }

  // Validar género (debe haber seleccionado solo uno)
  if (generoInputs.length !== 1) {
    alert("Seleccione un género");
    event.preventDefault();
    return;
  }

  // Ejemplo de validación de longitud de descripción
  if (descripcionInput.length < 50) {
    alert("La descripción debe tener al menos 50 caracteres");
    event.preventDefault();
    return;
  }
});

// Función para redirigir a la página principal
function redirigirPaginaPrincipal() {
  window.location.href = "Inicio"; // Reemplaza "URL_DE_LA_PAGINA_PRINCIPAL" con la URL correcta
}

// Agrega un evento onclick al botón cancelar que llame a la función redirigirPaginaPrincipal
document.querySelector('.cancel-button').addEventListener('click', redirigirPaginaPrincipal);

// Función para validar que el contenido no sea solo números
function validarNoSoloNumeros(input) {
  let contenido = input.value.trim();
  if (/\D/.test(contenido)) {
    // El contenido tiene al menos un carácter que no es un número, no hacemos nada
  } else {
    // Mostrar un mensaje de error o tomar la acción que consideres adecuada
    alert(`El campo ${input.id} no debe contener solo números.`);
    // Puedes también limpiar el contenido del input si lo prefieres
    input.value = '';
  }
}

// Función para validar el nombre
function validarNombre(elemento) {
  const nombreInput = elemento.value.trim();
  const soloLetras = /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/; // Expresión regular para letras y espacios
  
  if (!soloLetras.test(nombreInput)) {
    document.getElementById('nombreError').textContent = 'El nombre debe contener solo letras y espacios';
    elemento.classList.add('is-invalid');
  } else {
    document.getElementById('nombreError').textContent = '';
    elemento.classList.remove('is-invalid');
  }
}

// Función para validar el apellido
function validarApellido(elemento) {
  const apellidoInput = elemento.value.trim();
  const soloLetras = /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/; // Expresión regular para letras y espacios
  
  if (!soloLetras.test(apellidoInput)) {
    document.getElementById('apellidoError').textContent = 'El apellido debe contener solo letras y espacios';
    elemento.classList.add('is-invalid');
  } else {
    document.getElementById('apellidoError').textContent = '';
    elemento.classList.remove('is-invalid');
  }
}

// Función para validar la ubicación (país, ciudad, localidad)
function validarUbicacion(elemento) {
  const ubicacionInput = elemento.value.trim();
  const soloLetras = /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/; // Expresión regular para letras y espacios
  
  if (!soloLetras.test(ubicacionInput)) {
    elemento.nextElementSibling.textContent = 'Este campo debe contener solo letras y espacios';
    elemento.classList.add('is-invalid');
  } else {
    elemento.nextElementSibling.textContent = '';
    elemento.classList.remove('is-invalid');
  }
}

</script>
{% endblock extrajs %}