
{% extends 'inicio/base.html' %}
{% load static %}
{% block title %}
<title>Subir Fotos</title>
{% endblock %}
{% block content %}
<div class="page-content" id="contenedSubirFoto">
    <div class="container" style="width: 80%; margin: 0 auto;">
        <center><h1>CARGAR LAS FOTOS PARA EL PERFIL</h1></center>
        <form id="upload-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label for="photo_upload">1.Seleccionar fotos:</label>
            <div id="drop-area">
                <span class="drop-text">Arrastra las fotos aquí <br></span>
                <input type="file" id="file-input" name="file-input" multiple accept="image/*" style="display: none;">
                <label class="buscar-label" for="file-input">
                    <span>Buscar Fotos</span>
                </label>
                <div id="preview-container"></div>
            </div>
            <div id="gallery"></div>
            <div style="display: flex; justify-content: space-between;">
                <button class="atras-button" type="button" id="atrasFotos">Atras</button>
                <button class="cargar-button" type="submit" disabled>Cargar</button>
                <button class="cancel-button" type="button" id="cancenlarFotos">Cancelar</button>
            </div>
        </form>
    </div>

    <script>
        const fileInput = document.getElementById('file-input');
        const previewContainer = document.getElementById('preview-container');
        const cargarBtn = document.querySelector('.cargar-button');
        const cancelarBtn = document.querySelector('.cancel-button');
        const uploadForm = document.getElementById('upload-form');

        const MAX_IMAGENES = 5;

        fileInput.addEventListener('change', (event) => {

            if (fileInput.files.length > MAX_IMAGENES) {
                alert(`Solo se permiten seleccionar hasta ${MAX_IMAGENES} imágenes.`);
                fileInput.value = '';
                return;
            }


            previewContainer.innerHTML = '';
            const files = event.target.files;

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                if (!validarFormato(file)) {
                    alert('Formato de imagen no válido. Se permiten solo archivos con formato JPG o PNG.');
                    fileInput.value = '';
                    return;
                }

                if (!validarPeso(file)) {
                    alert('Peso de imagen excedido. Se permiten fotos con un peso menor a 3 MB.');
                    fileInput.value = '';
                    return;
                }

                reader.onload = () => {
                    const previewWrapper = document.createElement('div');
                    previewWrapper.classList.add('preview-wrapper');

                    const img = document.createElement('img');
                    img.src = reader.result;
                    img.style.maxWidth = '100px';
                    img.style.margin = '10px';

                    const removeBtn = document.createElement('span');
                    removeBtn.textContent = 'X';
                    removeBtn.classList.add('remove-btn');
                    removeBtn.addEventListener('click', () => {
                        previewWrapper.remove();
                        updateFilesAndPreview();
                    });

                    previewWrapper.appendChild(img);
                    previewWrapper.appendChild(removeBtn);
                    previewContainer.appendChild(previewWrapper);
                };

                reader.readAsDataURL(file);
            }

            updateFilesAndPreview();
        });

        const updateFilesAndPreview = () => {
            const previews = previewContainer.querySelectorAll('.preview-wrapper');
            const files = Array.from(fileInput.files);
            cargarBtn.disabled = files.length === 0;
        };
        //FUNCION PARA VALIDAR EL FORMATO
        function validarFormato(file) {
            const extensionesValidas = ['jpg', 'png'];
            const extension = file.name.split('.').pop().toLowerCase();
            return extensionesValidas.includes(extension);
        }
         //FUNCION PARA VALIDAR EL PESO DE LA FOTO
        function validarPeso(file) {
            return file.size <= 3000000; // 3MB
        }
        //validar resolucion de una foto
        function validarResolucion(file) {
        return new Promise((resolve, reject) => {
            const img = new Image();

            img.onload = () => {
            const ancho = img.width;
            const alto = img.height;

            if (ancho * alto >= 4000000 && ancho * alto <= 100000000) {
                resolve(true);
            } else {
                reject(new Error("Resolución de la imagen no permitida. La resolución debe estar entre 4MP y 100MP."));
            }
            };
            img.onerror = (error) => {
            reject(new Error("Error al leer la imagen."));
            };

            img.src = URL.createObjectURL(file);
        });
        }

        // FUNCION DE CONFIRMACION PARA EVENTOS CLICK
        function confirmAction(message, action) {
        return new Promise((resolve) => {
            const dialog = document.createElement('dialog');
            dialog.innerHTML = `
            <div class="dialog-container">
                <p>${message}</p>
                <div class="buttons">
                <button class="button-primary" id="confirm-button">Sí</button>
                <button class="button-secondary" id="cancel-button">No</button>
                </div>
            </div>
            `;

            document.body.appendChild(dialog);

            const confirmButton = dialog.querySelector('#confirm-button');
            const cancelButton = dialog.querySelector('#cancel-button');

            confirmButton.addEventListener('click', () => {
            dialog.close();
            resolve(true);
            action();
            });

            cancelButton.addEventListener('click', () => {
            dialog.close();
            resolve(false);
            });

            dialog.showModal();
        });
        }

        // FUNCIONALIDAD BOTONES

        cargarBtn.addEventListener('click', () => {
            confirmAction('¿Estás seguro de que quieres cargar las fotos?', () => {
                uploadForm.submit();
            });
        });

        cancelarBtn.addEventListener('click', () => {
            confirmAction('¿Estás seguro de que quieres cancelar?', () => {
                uploadForm.reset();
                previewContainer.innerHTML = '';
                window.location.href = '/';
            });
        });
        document.getElementById('atrasFotos').addEventListener('click', function() {
            uploadForm.reset();
            previewContainer.innerHTML = '';
            window.location.href = '/registroAmigo';
        });
    </script>

</div>
{% endblock %}
