{% extends 'inicio/base.html' %}
{% load static %}

{% block content %}

<div class="container" id="formulario-container">
    <h1 class="mt-5 ">Intereses</h1>
    <div class="row">
        <div class="col-md-6 input-group">
            <input type="text" id="searchInput" class="form-control mb-4" placeholder="Buscar">
            <div class="input-group-btn">
                <button class="btn btn-default btn-bordered" type="submit">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
        <div id="messageBox" class="alert alert-warning" style="display: none;"></div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h5>Intereses seleccionados:</h5>
            <div id="selectedInterests" class="mb-3"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Seleccione sus intereses personales:</p>
            <ul id="interestsList" class="list-group"></ul>
        </div>
    </div>
    <h2 class="mt-5">Categorías</h2>
    <p>Seleccione el tipo de salidas que está dispuesto a tener de las siguientes categorías:</p>
    <div class="row">
        <div class="col-md-12">
            <ul id="categoriesList" class="list-group"></ul>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <button id="continueBtn" class="btn btn-warning" type="submit" onclick="mostrarConfirmacion()">
            Guardar Cambios
        </button>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function () {
    // Obtener las categorías e intereses desde Django
    var interesesAmigo = JSON.parse('{{ intereses_amigo|escapejs }}');
    var categoriasAmigo = JSON.parse('{{ categorias_amigo|escapejs }}');
    var interesesDisponibles = JSON.parse('{{ intereses_disponibles|escapejs }}');
    var categoriasDisponibles = JSON.parse('{{ categorias_disponibles|escapejs }}');

    // Variables y funciones del script original
    var selectedInterests = interesesAmigo;
    var selectedCategories = categoriasAmigo;
    var messageTimer;

    function showMessage(message) {
        $('#messageBox').text(message).show();
        messageTimer = setTimeout(function () {
            hideMessage();
        }, 3000);
    }

    function hideMessage() {
        $('#messageBox').hide();
    }

    function generateInterestsList() {
        var interestsList = $('#interestsList');
        interestsList.empty();
        var row;
        var colCount = 0;
        interesesDisponibles.slice(0, 16).forEach(function (interest, index) {
            if (index % 4 === 0) {
                row = $('<div class="row"></div>');
                interestsList.append(row);
            }
            var isChecked = selectedInterests.includes(interest) ? 'checked' : '';
            row.append('<div class="col-md-3"><div class="form-check"><input type="checkbox" class="form-check-input interest-checkbox" value="' + interest + '" ' + isChecked + '> <label class="form-check-label">' + interest + '</label></div></div>');
            colCount++;
            if (colCount === 4) {
                colCount = 0;
            }
        });
    }

    function generateCategoriesList() {
        var categoriesList = $('#categoriesList');
        categoriesList.empty();
        var row;
        var colCount = 0;
        categoriasDisponibles.forEach(function (category, index) {
            if (index % 4 === 0) {
                row = $('<div class="row"></div>');
                categoriesList.append(row);
            }
            var isChecked = selectedCategories.includes(category) ? 'checked' : '';
            row.append('<div class="col-md-3"><div class="form-check"><input type="checkbox" class="form-check-input category-checkbox" value="' + category + '" ' + isChecked + '> <label class="form-check-label">' + category + '</label></div></div>');
            colCount++;
            if (colCount === 4) {
                colCount = 0;
            }
        });
    }

    // Generar la lista de intereses y categorías al cargar la página
    generateInterestsList();
    generateCategoriesList();
    displaySelectedInterests();

    // Función para contar los checkboxes seleccionados
    function countChecked() {
        var checked = $('.interest-checkbox:checked').length;
        return checked;
    }

    // Función para actualizar los intereses seleccionados
    function updateSelectedInterests(interest, checked) {
        if (checked) {
            if (selectedInterests.length < 5) {
                selectedInterests.push(interest);
            } else {
                showMessage("¡Ya has seleccionado 5 intereses!");
                $('.interest-checkbox[value="' + interest + '"]').prop('checked', false);
            }
        } else {
            var index = selectedInterests.indexOf(interest);
            if (index !== -1) {
                selectedInterests.splice(index, 1);
            }
        }
        displaySelectedInterests();
    }

    // Función para actualizar las categorías seleccionadas
    function updateSelectedCategories(category, checked) {
        if (checked) {
            if (selectedCategories.length < 5) {
                selectedCategories.push(category);
            } else {
                showMessage("¡Ya has seleccionado 5 categorías!");
                $('.category-checkbox[value="' + category + '"]').prop('checked', false);
            }
        } else {
            var index = selectedCategories.indexOf(category);
            if (index !== -1) {
                selectedCategories.splice(index, 1);
            }
        }
    }

    // Función para mostrar los intereses seleccionados
    function displaySelectedInterests() {
        var selectedInterestsDiv = $('#selectedInterests');
        selectedInterestsDiv.empty();
        selectedInterests.forEach(function (interest) {
            selectedInterestsDiv.append('<span style="padding-top:5px;" class="badge badge-primary mr-2 mb-2">' + interest + '<button type="button" class="close" data-interest="' + interest + '" style="color: white; margin-top: -8px;"><span aria-hidden="true">&times;</span></button></span>');
        });
        // Evento de clic en el botón "x" para quitar el interés seleccionado
        selectedInterestsDiv.find('.close').click(function () {
            var interestToRemove = $(this).data('interest');
            var index = selectedInterests.indexOf(interestToRemove);
            if (index !== -1) {
                selectedInterests.splice(index, 1);
                displaySelectedInterests();
                // Desmarcar el checkbox correspondiente
                $('.interest-checkbox[value="' + interestToRemove + '"]').prop('checked', false);
            }
        });
    }

    // Función para filtrar los intereses al buscar
    function filterInterestsList(query) {
        var filteredInterests = interesesDisponibles.filter(function (interest) {
            return interest.toLowerCase().indexOf(query.toLowerCase()) !== -1;
        });
        generateInterestsListFromData(filteredInterests);
    }

    // Función para generar la lista de intereses a partir de los datos filtrados
    function generateInterestsListFromData(data) {
        var interestsList = $('#interestsList');
        interestsList.empty();
        var row;
        var colCount = 0;
        data.forEach(function (interest, index) {
            if (index % 4 === 0) {
                row = $('<div class="row"></div>');
                interestsList.append(row);
            }
            var isChecked = selectedInterests.includes(interest) ? 'checked' : '';
            row.append('<div class="col-md-3"><div class="form-check"><input type="checkbox" class="form-check-input interest-checkbox" value="' + interest + '" ' + isChecked + '> <label class="form-check-label">' + interest + '</label></div></div>');
            colCount++;
            if (colCount === 4) {
                colCount = 0;
            }
        });
    }

    // Función para filtrar los intereses al buscar
    $('#searchInput').on('keyup', function () {
        var query = $(this).val();
        if (query === '') {
            generateInterestsList();
        } else {
            filterInterestsList(query);
        }
    });

    // Evento de cambio en los checkboxes de intereses
    $(document).on('change', '.interest-checkbox', function () {
        var interest = $(this).val();
        var checked = $(this).is(':checked');
        updateSelectedInterests(interest, checked);
    });

    // Evento de cambio en los checkboxes de categorías
    $(document).on('change', '.category-checkbox', function () {
        var category = $(this).val();
        var checked = $(this).is(':checked');
        updateSelectedCategories(category, checked);
    });

    // Evento de clic en el botón Continuar
    $(document).ready(function() {
        $('#continueBtn').click(function () {
            if (selectedInterests.length < 5) {
                showMessage('Debes seleccionar al menos 5 intereses');
                return;
            }

            // Enviar datos al servidor
            var data = {
                interests: selectedInterests,
                categories: selectedCategories
            };

            $.ajax({
                url: '{% url "Actualizar" id_amigo %}',
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.status === 'success') {
                        // Redirigir a la siguiente página o mostrar mensaje de éxito
                        window.location.href = response.redirect_url;
                    } else {
                        showMessage('Error al guardar los datos: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    var response = JSON.parse(xhr.responseText);
                    showMessage('Error al guardar los datos: ' + response.message);
                }
            });
        });
    });
});
</script>
{% endblock %}
